* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: grid;
    grid-template: 10rem repeat(3, 1fr) / 15rem repeat(3, 1fr);
    height: 100vh;
}
.header {
    position: relative;
    z-index: 1;
    background-color: white;
    grid-area: 1/2/1/5;
    box-shadow: 2px 2px 9px gray;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 1rem 2rem;
}
.search {
    display: grid;
    grid-template: 1fr / 32px 1fr;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
.search-bar {
    border: none;
    border-radius: 16px;
    height: 24px;
    width: 80%;
    background-color: lightgray;
    padding-left: 16px;
}
.user {
    display: grid;
    grid-template: 1fr / 64px 64px 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}
.user > .name {
    font-size: 20px;
    white-space: nowrap;
}
.notification {
    height: 32px;
    width: 32px;
}
.pfp-small {
    height: 48px;
    width: 48px;
}
.greeting {
    display: grid;
    grid-template: 1fr 1fr / 64px 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}
.greeting > * {
    white-space: nowrap;
}
.pfp {
    grid-area: 1/1/3/2;
    height: 48px;
    width: 48px;
}
.buttons{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    place-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
.header-btn {
    background-color: blue;
    border: none;
    border-radius: 18px;
    width: 6rem;
    height: 2rem;
    color: whitesmoke;
}
.sidebar {
    background-color: lightslategray;
    grid-area: 1/1/5/1;
    color: whitesmoke;
    padding: 1rem;
}
.sidebar > .heading {
    font-size: 32px;
    padding-bottom: 2rem;
}
.sidebar-list {
    padding: 0;
    list-style: none;
}
.sidebar-item {
    font-size: 20px;
    height: 32px;
    margin-top: 1rem;
}
.sidebar-item > a {
    text-decoration: none;
    color: whitesmoke;
}
.sidebar-item > a:hover {
    text-decoration: underline;
}
.main-content {
    background-color: lightgray;
    grid-area: 2/2/5/5;
    padding: 1rem 1rem 0rem 1rem;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);

}
.project-section {
    grid-area: 1/1/3/3;
    display: grid;
    grid-template: 3rem 1fr / 1fr;
    min-width: fit-content;
}
.projects {
    display: grid;
    grid-template: repeat(1, 200px) / repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    overflow: auto;
    gap: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    min-width: 300px;
}
.projects::-webkit-scrollbar {
    display: none;
}
.project {
    background-color: whitesmoke;
    border-radius: 10px;
    border-left: 10px solid lightslategray;
    box-shadow: 2px 2px 9px gray;
    padding: 1rem;
}
.announcement-section {
    display: grid;
    grid-template: 3rem 1fr / 1fr;
}
.project-section > .heading,
.announcement-section > .heading,
.trending-section > .heading {
    font-size: 32px;
    height: 32px;
}
.announcements {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 9px gray;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.announcement-1 {
    border-bottom: 2px solid gray;
}
.announcement-2 {
    border-bottom: 2px solid gray;
}
.trending-section {
    display: grid;
    grid-template: 3rem 1fr / 1fr;
    margin-bottom: 1rem;
    padding-top: 1rem;
}
.trends {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 9px gray;

    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.trend {
    background-color: gray;
    border-radius: 10px;
}