* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: grid;
    grid-template: 10rem repeat(3, 1fr) / 15rem repeat(3, 1fr);
    height: 100vh;
}
.header {
    position: relative;
    z-index: 1;
    background-color: white;
    grid-area: 1/2/1/5;
    box-shadow: 2px 2px 9px gray;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding-left: 2rem; 
}
.search {
    display: grid;
    grid-template: 1fr / 32px 1fr;
    align-items: center;
    gap: 0.5rem;
}
.search-bar {
    border: none;
    border-radius: 16px;
    height: 24px;
    width: 80%;
    background-color: lightgray;
    padding-left: 16px;
}
.user {
    display: grid;
    grid-template: 1fr / 64px 64px 1fr;
    gap: 0.5rem;
    align-items: center;
    justify-self: center;
}
.user > .name {
    font-size: 20px;
    white-space: nowrap;
}
.notification {
    height: 32px;
    width: 32px;
}
.pfp-small {
    height: 48px;
    width: 48px;
}
.greeting {
    display: grid;
    grid-template: 1fr 1fr / 64px 1fr;
    align-items: center;
}
.greeting > * {
    white-space: nowrap;
}
.greeting > .name {
    font-size: 28px;
}
.pfp {
    grid-area: 1/1/3/2;
    height: 48px;
    width: 48px;
}
.buttons{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    place-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
.header-btn {
    background-color: rgb(76, 76, 190);
    border: none;
    border-radius: 18px;
    width: 6rem;
    height: 2rem;
    color: whitesmoke;
    box-shadow: 2px 2px 9px gray;
}
.sidebar {
    background-color: lightslategray;
    grid-area: 1/1/5/1;
    color: whitesmoke;
    padding: 0rem;
}
.sidebar > .heading {
    font-size: 32px;
    padding-top: 1rem;
    padding-left: 1rem;
}
.sidebar-list {
    padding: 0;
    list-style: none;
}
.sidebar-item,
.sidebar-item-blank {
    font-size: 20px;
    height: 32px;
    padding-top: 1rem;
    padding-left: 1rem;
}
.sidebar-item > a {
    text-decoration: none;
    color: whitesmoke;
}
.sidebar-item:hover {
    background-color: rgb(80, 90, 100);
}
.main-content {
    background-color: lightgray;
    grid-area: 2/2/5/5;
    padding: 1rem 1rem 0rem 0rem;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);

}
.project-section {
    grid-area: 1/1/3/3;
    display: grid;
    grid-template: 3rem 1fr / 1fr;
    min-width: fit-content;
}
.project-section > .heading {
    padding-left: 1rem;
}
.projects {
    display: grid;
    grid-template: repeat(1, 300px) / repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    overflow: auto;
    min-width: 300px;
    gap: 1rem;
    padding: 1rem;
}
.projects::-webkit-scrollbar {
    display: none;
}
.flip-card {
    background-color: transparent;
    perspective: 1000px;
    height: 100%;
    width: 100%;
}
.project {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition-duration: 0.5s;
    transform-style: preserve-3d;
}
.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 9px gray;
}
.front {
    border-left: 10px solid lightslategray;
    border-right: 10px solid whitesmoke;
}
.back {
    transform: rotateY(180deg);
    border-left: 10px solid whitesmoke;
    border-right: 10px solid lightslategray;
}
.announcement-section {
    display: grid;
    grid-template: 3rem 1fr / 1fr;
}
.project-section > .heading,
.announcement-section > .heading,
.trending-section > .heading {
    font-size: 32px;
    height: 32px;
}
.announcements {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 9px gray;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.announcement-1 {
    border-bottom: 2px solid gray;
}
.announcement-2 {
    border-bottom: 2px solid gray;
}
.trending-section {
    display: grid;
    grid-template: 3rem 1fr / 1fr;
    margin-bottom: 1rem;
    padding-top: 1rem;
}
.trends {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 9px gray;

    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.trend {
    background-color: gray;
    border-radius: 10px;
}

/* ANIMATIONS */

@keyframes ring {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(45deg);}
    100% {transform: rotate(0deg);}
}
.notification:hover {
    animation: ring 0.8s linear 0s 2;
}
.header-btn:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}
.flip-card:active .project {
    transform: rotateY(180deg);
}